@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
* {
  padding: 0px;
  margin: 0px;
  /*   border: solid 2px red; */
}

.all {
  background-color: #ffa875;
}
.navbar-nav {
  position: absolute;
  right: 0px;
}

.nav-link {
  font-size: 13px;
  font-family: 微軟正黑體;
}

.container {
  padding-top: 40px;
  font-family: "RocknRoll One", sans-serif;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: inset 30px 0 20px rgba(0, 0, 0, 0.1);
}

.col-6 {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: left;
  font-family: 微軟正黑體;
  line-height: 30px;
}
.col-8 {
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: left;
  font-family: 微軟正黑體;
  line-height: 30px;
}

/* 向上箭頭 */
/* 40px */
.toTop-arrow {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 50%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.toTop-arrow::before,
.toTop-arrow::after {
  width: 18px;
  height: 5px;
  border-radius: 3px;
  background: #f90;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.5rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.5rem;
}
.toTop-arrow:focus {
  outline: none;
}

/*  */